*.suo
*.user

obj/
.idea/

.sln
WPF/bin/Debug/WPF.exe
WPF/bin/Debug/WPF.pdb
WPF/bin/Debug/WPF.exe.config
*.dll
WPF/bin/Debug/Newtonsoft.Json.xml
WPF/packages/*

WPF/bin/Debug/Assets/*

WPF/WPF.csproj
WPF/Properties/AssemblyInfo.cs
WPF/MainWindow.xaml
WPF/bin/Debug/Untitled Jinnytty Game.exe.config
WPF/bin/Debug/Untitled Jinnytty Game.exe
WPF/MainWindow.xaml
